body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
margin: auto;
}

.checkbox-container {
display: grid;
grid-auto-flow: column dense; /* column flow with "dense" to fill all the cells */
grid-template-rows: 50px 50px; /* 2 rows */
grid-auto-columns: 50px;
gap: 10px; /* add gap between the grid items */
column-gap: 60px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container div {
  margin-bottom: 10px;
}

.film-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film-item {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  color: ivory;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: rgba(255, 255, 240, 0.726);
}
