{% extends "navbar.html" %} {% block content %}
<div class="contact">
  <div class="contactUser">
      <h3 class="contactText">Claes Nielsen</h3>
      <p class="contactEmail">BigBlackClaes@github.com</p>
  </div>
  <div class="contactUser">
      <h3 class="contactText">Emil Frandsen</h3>
      <p class="contactEmail">IWantYourAnuz@github.com</p>
  </div>
  <div class="contactUser">
      <h3 class="contactText">Jacob Siegumfeldt</h3>
      <p class="contactEmail">JacobGummer@github.com</p>
  </div>
</div>
{% endblock content %}
