<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Roulette</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Movie Roulette</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="welcome-section">
            <!-- <img src="../static/images/banner.jpg" alt="Movies Banner"> -->
            <h2>Welcome to Movie Roulette!</h2>
            <p>Can't decide what to watch? Let us pick a movie for you!</p>
        </section>

        <section class="movie-picker-section">
            <p>Click the button below to get a random movie recommendation.</p>
            <button class="button">
                <span class="button-content">Pick random movie</span>
            </button>
        </section>

        <section class="movie-display-section">
            <div class="movie-poster">
                <img src="../static/posters/tt0068361.jpg" alt="Movie Poster" id="movie-poster">
            </div>
            <div class="movie-details">
                <h3 id="movie-title">Movie Title</h3>
                <p id="movie-genre">Genre(s): </p>
                <p id="movie-year">Release Year: </p>
                <p id="movie-rating">Rating: </p>
            </div>
        </section>

        <!-- <section class="action-buttons">
            <button id="watch-trailer-button">Watch Trailer</button>
            <button id="save-watchlist-button">Save to Watchlist</button>
            <button id="pick-another-button">Pick Another</button>
        </section> -->
    </main>

    <footer>
        <!-- <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Support</a>
        </div> -->
        <!-- <div class="contact-info">
            <p>Email: support@randommoviepicker.com</p>
            <p>Phone: +1234567890</p>
        </div> -->
    </footer>
</body>
</html>
