{% extends "navbar.html" %} {% block content %}
    <h1>Movie Roulette</h1>
    <h2>Specify some constraints and press 'Generate' to generate a random movie!</h2>

    <form method="post" class="filter-container">
        <div class="filter-container">
            <div class="checkbox-container">
                <label><input type="checkbox" name="genres" value="Action" {% if 'Action' in selected_options %}checked{% endif %}> Action</label>
                <label><input type="checkbox" name="genres" value="Adventure" {% if 'Adventure' in selected_options %}checked{% endif %}> Adventure</label>
                <label><input type="checkbox" name="genres" value="Comedy" {% if 'Comedy' in selected_options %}checked{% endif %}> Comedy</label>
                <label><input type="checkbox" name="genres" value="Crime" {% if 'Crime' in selected_options %}checked{% endif %}> Crime</label>
                <label><input type="checkbox" name="genres" value="Drama" {% if 'Drama' in selected_options %}checked{% endif %}> Drama</label>
                <label><input type="checkbox" name="genres" value="Horror" {% if 'Horror' in selected_options %}checked{% endif %}> Horror</label>
                <label><input type="checkbox" name="genres" value="Musical" {% if 'Musical' in selected_options %}checked{% endif %}> Musical</label>
                <label><input type="checkbox" name="genres" value="Mystery" {% if 'Mystery' in selected_options %}checked{% endif %}> Mystery</label>
                <label><input type="checkbox" name="genres" value="Romance" {% if 'Romance' in selected_options %}checked{% endif %}> Romance</label>
                <label><input type="checkbox" name="genres" value="Sci-Fi" {% if 'Sci-Fi' in selected_options %}checked{% endif %}> Sci-Fi</label>
                <label><input type="checkbox" name="genres" value="Thriller" {% if 'Thriller' in selected_options %}checked{% endif %}> Thriller</label>
                <label><input type="checkbox" name="genres" value="Animation" {% if 'Animation' in selected_options %}checked{% endif %}> Animation</label>
                <label><input type="checkbox" name="genres" value="Biography" {% if 'Biography' in selected_options %}checked{% endif %}> Biography</label>
                <label><input type="checkbox" name="genres" value="Concert" {% if 'Concert' in selected_options %}checked{% endif %}> Concert</label>
                <label><input type="checkbox" name="genres" value="Entertainment" {% if 'Entertainment' in selected_options %}checked{% endif %}> Entertainment</label>
                <label><input type="checkbox" name="genres" value="Family" {% if 'Family' in selected_options %}checked{% endif %}> Family</label>
                <label><input type="checkbox" name="genres" value="Fantasy" {% if 'Fantasy' in selected_options %}checked{% endif %}> Fantasy</label>
                <label><input type="checkbox" name="genres" value="War" {% if 'War' in selected_options %}checked{% endif %}> War</label>
                <label><input type="checkbox" name="genres" value="Western" {% if 'Western' in selected_options %}checked{% endif %}> Western</label>
                <label><input type="checkbox" name="genres" value="Sport" {% if 'Sport' in selected_options %}checked{% endif %}> Sport</label>
            </div>
            <div>
                <input type="text" id="titleFilter" placeholder="Keywords, e.g. &quot;stars&quot;">
            </div>
            <div>
                <button value="generate">Generate</button>
            </div>
        </div>
    </form>
    <div class="cards">
        {%for i in range(0,length)%}
        <a href="/movie/{{content[i][0]}}">
          <div class="card">
            <img
              src="/static/posters/{{(content[i][0])[:-1]}}.jpg"
              alt="Avatar"
              class="image"
            />
            <div class="container">
              <h3 class="movietitle"><b>{{content[i][3]}}</b></h4>
              <p class="card-text">Release year: {{content[i][2]}}</p>
              <p class="card-text">Average rating: {{content[i][7]}}</p>
              <p class="card-text">Genre(s): {{content[i][6]}}</p>
            </div>
          </div>
        </a>
        {%endfor%}
      </div>
{% endblock content %}