{% extends "navbar.html" %} {% block content %}
    <h1>Pick a movie!</h1>

    <form method="post" class="filter-container">
        <div class="filter-container">
            <div>
                <input type="text" id="titelFilter" placeholder="Keywords, e.g. &quot;stars&quot;">
            </div>
            <div class="checkbox-container">
                <label><input type="checkbox" class="checkbox" name="genres" value="Action"> Action</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Adventure"> Adventure</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Comedy"> Comedy</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Crime"> Crime</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Drama"> Drama</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Horror"> Horror</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Musical"> Musical</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Mystery"> Mystery</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Romance"> Romance</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Sci-Fi"> Sci-Fi</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Thriller"> Thriller</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Animation"> Animation</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Anime"> Anime</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Biography"> Biography</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Concert"> Concert</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Entertainment"> Entertainment</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Family"> Family</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Fantasy"> Fantasy</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="War"> War</label>
                <label><input type="checkbox" class="checkbox" name="genres" value="Sport"> Sport</label>
            </div>
            <div>
                <button value="filter">Filter</button>
                <button value="random">Random</button>
            </div>
        </div>
    </form>
{% endblock content %}