<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/test.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="checkbox-container">
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Action" type="checkbox" name="genres" value="Action">
            <label class="cbx" for="Action"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Action</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Adventure" type="checkbox" name="genres" value="Adventure">
            <label class="cbx" for="Adventure"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Adventure</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Comedy" type="checkbox" name="genres" value="Comedy">
            <label class="cbx" for="Comedy"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Comedy</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Crime" type="checkbox" name="genres" value="Crime">
            <label class="cbx" for="Crime"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Crime</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Drama" type="checkbox" name="genres" value="Drama">
            <label class="cbx" for="Drama"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Drama</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Horror" type="checkbox" name="genres" value="Horror">
            <label class="cbx" for="Horror"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Horror</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Musical" type="checkbox" name="genres" value="Musical">
            <label class="cbx" for="Musical"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Musical</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Mystery" type="checkbox" name="genres" value="Mystery">
            <label class="cbx" for="Mystery"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Mystery</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Romance" type="checkbox" name="genres" value="Romance">
            <label class="cbx" for="Romance"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Romance</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Sci-Fi" type="checkbox" name="genres" value="Sci-Fi">
            <label class="cbx" for="Sci-Fi"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Sci-Fi</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
    </div>
    <div class="checkbox-container">
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Thriller" type="checkbox" name="genres" value="Thriller">
            <label class="cbx" for="Thriller"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Thriller</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Animation" type="checkbox" name="genres" value="Animation">
            <label class="cbx" for="Animation"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Animation</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Biography" type="checkbox" name="genres" value="Biography">
            <label class="cbx" for="Biography"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Biography</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="History" type="checkbox" name="genres" value="History">
            <label class="cbx" for="History"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>History</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Family" type="checkbox" name="genres" value="Family">
            <label class="cbx" for="Family"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Family</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Fantasy" type="checkbox" name="genres" value="Fantasy">
            <label class="cbx" for="Fantasy"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Fantasy</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="War" type="checkbox" name="genres" value="War">
            <label class="cbx" for="War"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>War</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Western" type="checkbox" name="genres" value="Western">
            <label class="cbx" for="Western"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Western</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="Sport" type="checkbox" name="genres" value="Sport">
            <label class="cbx" for="Sport"><span>
            <svg width="12px" height="10px">
            
            </svg></span><span>Sport</span></label>
            <svg class="inline-svg">
            <symbol id="check-4" viewBox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </symbol>
            </svg>
        </div>
    </div>
</body>
</html>